@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

.Window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    width: 70%;
    height: 40vh;
    opacity: .9;
    border-radius: 20px;
    flex-direction: column;
    color: #fff;
    animation: animate;
    animation-duration: 800ms;
    z-index: 9999999999;
    display: none;
}

@keyframes animate {
    from {
        opacity: 1;
    }

    from {
        opacity: 0;
    }
}

.Window h1 {
    font-size: 2em;
    text-align: center;
    margin: 30px 20px;
}

.Window p {
    font-size: 2em;
    text-align: center;
}

.Window button {
    cursor: pointer;
    background: #5bfd3b;
    border: none;
    border-radius: 20px;
    font-size: 1.5em;
    width: 20%;
    height: 5vh;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%)
}

body {
    background-color: #eda232;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Box-header {
    z-index: 99999999999999999999;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    position: fixed;
    top: 15px;
    width: 90%;
    height: 6vh;
}

.Box-header img {
    width: 11%;
    margin: 0 20px;
    cursor: pointer;
    transition: .5s all;
}

.Box-header img:active,
.Box-header h1:active {
    transform: scale(.8);
}

.Box-header h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2em;
    transition: .5s all;
}

.Header-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header-image img {
    filter: drop-shadow(2px 4px 6px black);
    margin-top: 50px;
    width: 100%;
    height: 45vh;
}

.Price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.Price h1 {
    font-weight: 900;
}

.Price h2 {
    font-weight: bold;
}

.Contents,
.Description {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: auto 15px;
}

.Contents h2,
.Description h2 {
    margin: 10px 0;
}

.Description p {
    margin-bottom: 15px;
}

.Amounts-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 20px 20px;
}

.Amount1,
.Amount2 {
    display: flex;
    width: 40%;
    margin-right: 40px;
}

.Amount1 label,
.Amount2 label {
    cursor: pointer;
}

.Amount1 input,
.Amount2 input {
    appearance: none;
    border: 2px solid #000000;
    width: 1.3em;
    height: 1.4em;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Amount1 input::before,
.Amount2 input::before {
    content: '';
    position: absolute;
    height: 1.4em;
    width: 1.1em;
    background: #000000;
    border-radius: 20px;
    opacity: 0;
}

.Amount1 input:checked:before,
.Amount2 input:checked:before {
    opacity: 1;
}

label {
    margin-left: 5px;
    font-weight: bold;
}

.Buttons,
.End {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid #000;
}

.End {
    height: 8vh;
    background-color: #000;
    cursor: pointer;
}

.Buttons button,
.End button {
    background: none;
    border: none;
}

.Buttons button {
    font-size: 2em;
    cursor: pointer;
}

.End button {
    font-size: 1.3em;
    color: #fff;
    cursor: pointer;
}

@media(min-width: 390px) {
    .Box-header img {
        width: 9%;
    }
}

@media(min-width: 500px) {
    .Box-header img {
        width: 7%;
    }
}

@media(min-width: 620px) {
    .Box-header {
        height: 8vh;
    }

    .Header-image img {
        height: 55vh;
    }

    footer {
        display: flex;
    }

    .Buttons,
    .End {
        width: 50%;
    }
}

@media(min-width: 800px) {
    .Box-header img {
        width: 5%;
    }
}

@media (min-width: 1024px) {
    .Header-content {
        justify-content: flex-start;
    }

    .Box-header {
        width: 55%;
        position: relative;
        left: 15px;
    }

    .Header-image {
        position: absolute;
        z-index: -99999;
        margin-left: 700px;
        margin-top: 500px;
    }

    .Header-image img {
        height: 100vh;
    }

    .Price {
        justify-content: normal;
        margin-top: 40px
    }

    .Price h2 {
        margin-left: 450px;
    }

    .Contents,
    .Description {
        margin: 30px 15px;
    }

    .Amounts-main {
        margin: 10px 0 40px 20px;
    }

    .Buttons,
    .End {
        margin: 20px;
    }

    footer {
        display: block;
    }

    .Buttons,
    .End {
        height: 10vh;
    }
}

@media(min-width: 1100px) {
    .Box-header {
        height: 10vh;
    }
}

@media(min-width: 1150px) {
    .Header-image {
        margin-left: 800px;
    }
}

@media(min-width: 1440px) {
    .Header-image {
        margin-left: 1000px;
    }
}

@media(min-width: 2000px) {
    .Box-header h1 {
        font-size: 4em;
    }

    .Price h1 {
        font-size: 4em;
    }

    .Price h2 {
        font-size: 3em;
    }

    main {
        margin-top: 70px;
    }

    main h2 {
        font-size: 3em;
    }

    main p {
        font-size: 2em;
    }

    .Amount1 input,
    .Amount2 input {
        width: 3em;
        height: 3em;
    }

    .Amount1 label,
    .Amount2 label {
        font-size: 2em;
    }

    .Amount1 input::before,
    .Amount2 input::before {
        height: 3em;
        width: 3em;
    }

    .Buttons {
        font-size: 2em;
    }

    .End {
        font-size: 1.5em;
    }

    .Header-image {
        margin-left: 1500px;
        margin-top: 900px;
    }
}