@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    background-color: #eda232;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    position: fixed;
    top: 15px;
    width: 90%;
}

.Box-header img {
    width: 10%;
    margin: 0 20px;
}

.Box-header h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.Header-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header-image img {
    margin-top: 50px;
    width: 100%;
    height: 45vh;
}   

.Price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.Price h1 {
    font-weight: 900;
}

.Price p {
    font-weight: 500;
}

.Contents,
.Description {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: auto 15px;
}

.Contents h2,
.Description h2 {
    margin: 10px 0;
}

.Description p {
    margin-bottom: 15px;
}

.Amounts-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 20px 20px;
}

.Amount1,
.Amount2 {
    display: flex;
    width: 40%;
    margin-right: 40px;
}

.Amount1 label,
.Amount2 label {
    cursor: pointer;
}

.Amount1 input,
.Amount2 input {
    appearance: none;
    border: 2px solid #924e00;
    width: 15%;
    height: 3vh;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Amount1 input::before,
.Amount2 input::before {
    content: '';
    position: absolute;
    height: 2vh;
    width: 3%;
    background: #924e00;
    border-radius: 20px;
    opacity: 0;
}

.Amount1 input:checked:before,
.Amount2 input:checked:before {
    opacity: 1;
}

label{
    margin-left: 5px;
    font-weight: bold;
}

.Buttons,
.End {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid #000;
}

.End {
    height: 8vh;
    background-color: #000;
    cursor: pointer;
}

.Buttons button,
.End button {
    background: none;
    border: none;
}

.Buttons button {
    font-size: 2em;
    cursor: pointer;
}

.End button {
    font-size: 1.3em;  
    color: #fff;
    cursor: pointer;
}

@media(max-width: 375px){
    .Header-image img {
        height: 50vh;
    }
}