@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

.Window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    width: 70%;
    height: 40vh;
    opacity: .9;
    border-radius: 20px;
    flex-direction: column;
    color: #fff;
    animation: animate;
    animation-duration: 800ms;
    z-index: 9999999999;
    display: none;
}

@keyframes animate {
    from{opacity: 1;}
    from{opacity: 0;}
}

.Window h1 {
    font-size: 2em;
    text-align: center;
    margin: 30px 20px;
}

.Window p {
    font-size: 1.5em;
    text-align: center;
}

.Window button {
    cursor: pointer;
    background: #5bfd3b;
    border: none;
    border-radius: 20px;
    font-size: 1.5em;
    width: 20%;
    height: 5vh;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%)
}

body {
    background-color: #eda232;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Box-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    position: fixed;
    top: 15px;
    width: 90%;
    height: 6vh;
}

.Box-header img {
    width: 11%;
    margin: 0 20px;
    transition: .5s all;
}

.Box-header img:active,
.Box-header h1:active {
    transform: scale(.8);
}

.Box-header h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2em;
    transition: .5s all;
}

.Header-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header-image img {
    margin-top: 50px;
    width: 100%;
    height: 45vh;
}   

.Price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.Price h1 {
    font-weight: 900;
}

.Price h2 {
    font-weight: bold;
}

.Contents,
.Description {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: auto 15px;
}

.Contents h2,
.Description h2 {
    margin: 10px 0;
}

.Description p {
    margin-bottom: 15px;
}

.Amounts-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 20px 20px;
}

.Amount1,
.Amount2 {
    display: flex;
    width: 40%;
    margin-right: 40px;
}

.Amount1 label,
.Amount2 label {
    cursor: pointer;
}

.Amount1 input,
.Amount2 input {
    appearance: none;
    border: 2px solid #000000;
    width: 1.3em;
    height: 1.4em;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Amount1 input::before,
.Amount2 input::before {
    content: '';
    position: absolute;
    height: 1.4em;
    width: 1.1em;
    background: #000000;
    border-radius: 20px;
    opacity: 0;
}

.Amount1 input:checked:before,
.Amount2 input:checked:before {
    opacity: 1;
}

label{
    margin-left: 5px;
    font-weight: bold;
}

.Buttons,
.End {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid #000;
}

.End {
    height: 8vh;
    background-color: #000;
    cursor: pointer;
}

.Buttons button,
.End button {
    background: none;
    border: none;
}

.Buttons button {
    font-size: 2em;
    cursor: pointer;
}

.End button {
    font-size: 1.3em;  
    color: #fff;
    cursor: pointer;
}

@media(min-width: 390px){
    .Box-header img {
        width: 9%;
    }
}

@media(min-width: 500px){
    .Box-header img {
        width: 7%;
    }
}

@media(min-width: 620px){
    .Box-header {
        height: 8vh;
    }

    .Header-image img {
        height: 55vh;
    }

    footer {
        display: flex;
    }

    .Buttons,
    .End {
        width: 50%;
    }
}

@media(min-width: 800px) {
    .Box-header img {
        width: 5%;
    }
}

@media(min-width: 1100px) {
    .Box-header {
        height: 10vh;
    }

    .Header-image img {
        margin-top: 60px;
        height: 60vh;
    }
}