* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eda232;
}

.Box-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 90%;
}

.Box-header img {
    width: 10%;
    margin: 0 20px;
}

.Header-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header-image img {
    margin-top: 70px;
    width: 60%;
}   